@page
@model tbkkData.Pages.Evaluations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Evaluation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Evaluation.EvaDetail" class="control-label"></label>
                <input asp-for="Evaluation.EvaDetail" class="form-control" />
                <span asp-validation-for="Evaluation.EvaDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation.EvaSumPoint" class="control-label"></label>
                <input asp-for="Evaluation.EvaSumPoint" class="form-control" />
                <span asp-validation-for="Evaluation.EvaSumPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation.EvaDate" class="control-label"></label>
                <input asp-for="Evaluation.EvaDate" class="form-control" />
                <span asp-validation-for="Evaluation.EvaDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation.EvaStatus" class="control-label"></label>
                <input asp-for="Evaluation.EvaStatus" class="form-control" />
                <span asp-validation-for="Evaluation.EvaStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluation.Evatype" class="control-label"></label>
                <input asp-for="Evaluation.Evatype" class="form-control" />
                <span asp-validation-for="Evaluation.Evatype" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Evaluation.Eva_GradeHistoryID" class="control-label"></label>
                <input asp-for="Evaluation.Eva_GradeHistoryID" class="form-control" />
                <span asp-validation-for="Evaluation.Eva_GradeHistoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
