@page
@model tbkkData.Pages.Evaluations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
      
       
   
       
       
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Evaluation.EvaluationID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
