@page
@model tbkkData.Pages.Evaluations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evaluation</h4>
    <hr />
    <dl class="dl-horizontal">
       
      
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Evaluation.EvaluationID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
